_AirportAutomation/Airport_PresentationLayer/Service References/AirportReferences/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" />
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetCountriesResult" nillable="true" type="q1:ArrayOfCountries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="countries" nillable="true" type="q2:Countries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="id" nillable="true" type="q3:Countries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="province" nillable="true" type="q4:Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProvinceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="id" nillable="true" type="q5:Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvinceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetProvinceResult" nillable="true" type="q6:ArrayOfProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="customers" nillable="true" type="q7:Customers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetCustomersResult" nillable="true" type="q8:ArrayOfCustomers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpedition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="expedition" nillable="true" type="q9:Expedition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpeditionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpedition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpeditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetExpeditionResult" nillable="true" type="q10:ArrayOfExpedition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="personel" nillable="true" type="q11:Personel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetPersonelResult" nillable="true" type="q12:ArrayOfPersonel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="ticket" nillable="true" type="q13:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetTicketResult" nillable="true" type="q14:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="airplane" nillable="true" type="q15:Airplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAirplaneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplane">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetAirplaneResult" nillable="true" type="q16:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListForComboBox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListForComboBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="ListForComboBoxResult" nillable="true" type="q17:ArrayOfAirports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAirplaneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="airplane" nillable="true" type="q18:Airplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAirplaneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="customer" nillable="true" type="q19:Customers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpedition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpeditionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExpedition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="expedition" nillable="true" type="q20:Expedition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExpeditionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="personel" nillable="true" type="q21:Personel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="ticket" nillable="true" type="q22:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="userticket" nillable="true" type="q23:UserTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="userticket" nillable="true" type="q24:UserTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTicket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Airport.DataEntities.Entities" minOccurs="0" name="GetUserTicketResult" nillable="true" type="q25:ArrayOfUserTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>